body{
    text-align: auto; 
}
div{
    border: 1px solid black; 
    height: 900px; 
    padding:20px 100px 300px 100px; 
    width: 750px; 
    margin:0px auto; 
    box-shadow: 3px 3px 8px gray;
}
.place{
    color:gray;
}
h3{
    color:red;
    font-family: Source code Pro;
}
.email{
    color:red;
    width:200px;
}
hr{
    border-width: 3px;
    height:5px;
    color:black;
    background-color:black;
}
p{
    font-family:Source Code Pro;    
}
h6{
    font-family:Source Code Pro;
    height: 1px;
}
li{
    font-family: Source Code Pro;
}